#breadcrumbs{
	padding: 4em 0 1.5em;

	ul{
		text-align: center;
		padding: 0;

		li{
			list-style: none;
			display: inline-block;
			position: relative;
			opacity: 0.8;

			&:before{
				display: inline-block;
				vertical-align: middle;
				margin: 0 .4em 0 .3em;
				font-size: 1.3vw;
				content: '/';
				color: $blue2;
				opacity: .5;
			}
			&:first-of-type:before{
				display: none;
			}
			&:first-of-type{
				span{
					display: inline-block;
				    vertical-align: middle;
				    letter-spacing: .1em;
				    line-height: 1.4em;
				    position: relative;
				    background: $blue;
				    font-weight: 700;
				    padding: 0 .5vh;
				    font-size: .6em;
				    color: $white;
				    top: -0.1em;
				}
			}
			&.active{

				&:before{
					@extend .sprite;
					@extend .active_sep;
					opacity: 1;
    				
				}
				+ li:before{
					@extend .sprite;
					@extend .active_sep;
					opacity: 1;
				}
				a{
					font-weight: bold;
					font-size: 1.3vw;
					opacity: 1;
				}
			}
		}
		a{
			@extend .roboto;
			display: inline-block;
			vertical-align: middle;
			font-size: 1.3vw;
			color: $blue2;
			opacity: .5;
		}
		.until{
			display: inline-block;
    		position: relative;
		    font-size: 1.6vh;
		    font-weight: 700;
		    padding-left: 30px;
		    margin-left: .4em;
		    line-height: 1.3em;
		   	vertical-align: middle;

			.time{
				@include vertical-align(absolute);
    			left: 0;
			}
			.date{
				display: block;
				color: $red;
			}
		}
		
	}
	@media #{$ipadl}{
		ul{
			a{
				font-size: 1.83vw;
			}
			li{
				&:before{
					font-size: 1.8vw;
				}
				&.active{
					a{
						font-size: 1.8vw;
					}
				}
			}
		}
	}
	@media #{$mobile}{
		padding: 7vw 0 1.5em;

		ul{
			li{
				display: block;
				margin-bottom: 1.4vw;

				&:before{
					display: none !important;
				}
				&:first-of-type{
					span{
						font-size: 3.5vw;
					}
				}
				&.active{
					a{
						font-size: 4.8vw;
					}
				}
			}
			a{
				font-size: 3.83vw;
			}
			.until{
				font-size: 4.8vw;
				padding-left: 35px;

				.date{
					display: inline-block;
				}
			}
		}
	}
}