footer{
	background: $grey2;
	text-align: center;
	padding: 2.2em 0px 2.5em;
	overflow: hidden;

	

	.brand{
		background-image: url('../img/logo.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	    vertical-align: middle;
	    display: inline-block;
	    line-height: normal;
	    margin: 0 0 2%;
	    height: 19%;
	    width: 17%;
	}
	ul{
		margin-bottom: 2vh;

		li{
			list-style: none;
			display: inline-block;
			margin: 0 .42vw;
			color: $white;
		}
		a{
			margin-bottom: 1.2%;
			text-decoration: none;
			color: $white;
		}

		&.navtop{
			li{
				margin: 0 0.6em;
			}
			a{
				font-size: 0.9em;
			}
		}
		&.social{
			li{
				margin: 0 1.2em;
			}
			a{
				font-size: 1.4em;
			}
		}
		&.navbottom{
			margin: 2em 0 0;

			li,
			span,
			a{
				font-size: 0.85em;
			}
			li{
				margin: 0;

				&:after{
					content: '|';
					display: inline-block;
					margin: 0 .2em 0 0;
				}
				&:last-of-type:after{
					opacity: 0;
				}
			}
		}
	}
	@media #{$mobile}{
		padding: 2.5em 0 0.5em;

		.brand{
			margin: 0 0 8.6vw;
			height: 8vw;
    		width: 73vw;
		}
		ul{
			margin-bottom: 4.3vh;

			&.nav-top{
				a{
					font-size: 4vw;
				}
			}
			&.social{
				margin-bottom: 5.5vh;
			}
			&.navbottom{
				li,
				span,
				a{
					font-size: 3.7vw;
				}
				li{
					&:first-of-type{
						display: block;

						&:after{
							display: none;
						}	
					}
					&:nth-child(3){
						&:after{
							display: none;
						}
					}
					span{
						margin: 0 auto;
						max-width: 55vw;
    					display: block;
					}
				}
			}
		}
	}
}