header{
	position: fixed;
	left: 0;
	right: 0;
	z-index: 100;

	

	.header-top{
		position: relative;
		height: 9.4vh;
		background: $black;
		overflow: hidden;

		.brand{
			@include vertical-align;
			background-image: url('../img/logo3.png');
			background-repeat: no-repeat;
			background-size: contain;
			vertical-align: middle;
			display: inline-block;
		  	line-height: normal;
			margin: 0 1%;
			width: 33vh;
    		height: 6.5vh;
		}
		.btn-toggle-menu{
			@include vertical-align(absolute);
			display: none;
			right: 6vw;

			span{
				width: 9vw;
    			height: 1vw;
				display: block;
				background: $white;
				margin: 1.5vw 0;
			}

			&:before{
				content: '';
				width: 9vw;
    			height: 1vw;
				display: block;
				background: $white;
			}

			&:after{
				content: '';
				width: 9vw;
    			height: 1vw;
				display: block;
				background: $white;
			}
		}
		@media #{$mobile}{
			height: 10.4vh;

			.brand{
				width: 29vh;
    			height: 5.8vh;
    			margin: 0 6vw;
			}
			.btn-toggle-menu{
				display: block;
			}
		}
	}

	.header-bottom{
		background-color: $white2;
		-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
		-moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
		box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);

		ul{
			text-align: center;
			
			li{
				position: relative;
				display: inline-block;
				vertical-align: middle;
				padding: 2.3% 0;
				margin: 0 5vw;

				&.active,
				&:hover{
					&:before{
						@include rotate(-45deg);
						content: "";
					    position: absolute;
					    width: 0;
					    height: 0;
					    margin-left: -1.5em;
					    bottom: -0.9em;
					    left: 50%;
					    box-sizing: border-box;
					    border: 0.5em solid $black;
					    border-color: transparent transparent $white2 $white2;
					    transform-origin: 0 0;
					    box-shadow: -3px 3px 3px -1px rgba(0,0,0,.15);
					}
					a{
						font-weight: bold;
						color: $blue;

						svg{
							fill: $blue;
						}
					}
				}
			}
			a{
				@include animate(.15s, all, ease-in-out);
				@extend .roboto;
				font-weight: 100;
				text-decoration: none;	
				color: $grey1;
				font-size: 1.26vw;
    			letter-spacing: .025vw;

				svg{
					@include animate(.15s, all, ease-in-out);
					display: inline-block;
					vertical-align: middle;
					max-width: 6%;
					margin-top: -1%;
					height: 1.15em;
					fill: $grey1;
				}
				&.link-group{
					svg{
						max-width: 1.8em;
    					height: 1.4em;
					}
				}
				&.link-investor{
					svg{
						max-width: 1.5em;
						height: 1.4em;
					}
				}
				&.link-startup{
					svg{
						max-width: 1em;
    					height: 1.3em;
					}
				}
			}
		}

		@media #{$ipadl}{
			ul{
				li{
					padding: 3% 0;
					margin: 0 4vw;
					vertical-align: top;
				}
				a{
					font-size: 1.8vw;
				}
			}
		}
		@media #{$mobile}{
			ul{
				li{
					margin: 0 2vw;
				}
				a{
					text-align: center;
					display: block;
    				max-width: 16.4vw;
					font-size: 3.2vw;
    				line-height: normal;
    				min-height: 16vw;

					svg{
						display: block;
						height: 1.6em !important;
						margin: 0 auto 1.6vh;
					}
					&.link-single{
						svg{
							max-width: 3.5vw;
						}
					}
					&.link-group{
					    svg{
						    max-width: 3.8em;
					    }
					}
					&.link-investor{
						svg{
							max-width: 2.5em;
						}
					}
					&.link-startup{
						svg{
							max-width: 4vw;
						}
					}
				}
			}
		}
	}
}