#investor{
	text-align: center;
	padding: 5.3em 0 4.55em;

	h4{
		color: $grey3;
    	margin-bottom: 2em;
	}
	img{
		max-width: 7em;
	}
	ul{
		li{
			list-style: none;
			display: inline-block;
			margin: 0 1.1em;
		}
	}
	@media #{$ipadl}{
		padding: 1.5em 0 3.3em;

		h4{
			margin-bottom: 1.7em;
		}
		img{
			max-width: 12.9vw;
		}
		ul{
			li{
				margin: 0 2.2vw;

				&:first-of-type{
					margin-left: 0;
				}
				&:last-of-type{
					margin-right: 0;
				}
			}
		}
	}
	@media #{$mobile}{
		padding: 1.5em 0 1em;

		h4{
			margin-bottom: 3.7em;
		}
		img{
			max-width: 22.9vw;
		}
		ul{
			li{
				margin: 0 2.2vw 9vw;

				&:last-of-type{
					margin-right: 2.2vw;
				}
			}
		}
	}
}