#menu{
	-webkit-transition: all .5s cubic-bezier(0.54, 0.01, 0.57, 1.03) !important;
    -moz-transition: all .5s cubic-bezier(0.54, 0.01, 0.57, 1.03) !important;
    -o-transition: all .5s cubic-bezier(0.54, 0.01, 0.57, 1.03) !important;
    transition: all .5s cubic-bezier(0.54, 0.01, 0.57, 1.03) !important;
	background: $white2;
	position: fixed;
    overflow: hidden;
    width: 75vw;
    right: 0;

	ul{
		li{
			display: block;
		}
		a{
			border-bottom: 1px solid $white;
			color: $black;
			display: block;
			padding: 3vw;

			&:hover{
				color: $blue;
			}
		}
	}

	@media only screen and (min-width : 1025px){
		visibility: hidden !important;
		position: absolute;
		opacity: 0;
	}
}