#tickets{
	text-align: center;
	padding: 5vh 0;

	.row{
		margin-right: -1vh;
    	margin-left: -1vh;

    	@media #{$ipadl}{
    		display: flex;
    		align-items: flex-end;
    	}
	}
	.btn-transparent{
		padding: 0.6em 2.4em;
		font-size: 0.9em;

		@media #{$ipadl}{
			font-size: 1.49em;
			margin: 2.25em 0;
		}
		@media #{$mobile}{
			display: block;
		}
	}
	&.active{
		.wrap{
			ul{
				margin: 0 auto;
  				max-height: 300px;
  				padding: 2.8vh 0 8.2vh;
			}
		}
	}
	.ticket{
		padding-right: 1vh;
    	padding-left: 1vh;
    	margin-bottom: 14.8vh;

    	&.popular{
    		margin-top: -2.6vh;
    		margin-bottom: 3vh;

    		h1{
    			margin-bottom: 2.8vh;
    		}
    		h3{
    			margin-bottom: 3vh;
    		}
    		ul{
    			padding: 3.2vh auto 12vh;
    		}
    		.date{
    			margin-bottom: 4vh;
    		}
    	}

    	@media #{$ipadl}{
		    flex: 0 0 50%;
			max-width: 50%;
			margin-bottom: 2.5vh;

			&.popular{
				margin-bottom: 2.5vh;
			}
    	}
    	@media #{$mobile}{
    		flex: 0 0 100%;
    		max-width: 100%;


    		&.popular{
    			margin-top: 0;
    		}
    	}
	}
	.wrap{
		-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
		-moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
		box-shadow: 0 1px 5px 0 rgba(0,0,0,.25);
		padding: 2vh 1vh 6.6vh;
		position: relative;
		background: $white2;

		h1{
			color: $blue2;
		}
		h2{
			margin-bottom: 0;
			color: $red;
		}
		h3{
			color: $blue2;
			margin: 0 0 0.5vh;
		}
		ul{
			@include animate(.7s, all, ease-in-out);
  			text-align: left;
  			overflow: hidden;
  			max-width: 75%;
  			margin: 0 auto;
  			max-height: 0;
  			padding: 0;

			li{
				font-size: 1.7vh;
				list-style: none;
				line-height: 2.5vh;
				margin-bottom: 1.3vh;

				&:before{
					content: "\2022";
				    color: $blue2;
				    display: inline-block;
				    font-size: 2.5vh;
				    vertical-align: middle;
				    margin-right: 1.6vh;
				}
			}
		}
		.field{
			position: relative;

			input{
				@extend .roboto;
				text-transform: uppercase;
			    font-size: 0.75vw;
			    margin-bottom: 2vh;
			    padding: 0.5vh;
			}
			span{
				position: absolute;
				z-index: 1;
			   	right: 1vh;
			    top: 0.5vh;
			    font-size: 0.75vw;
			    font-style: italic;
			    color: $blue2;
			}
		}
		.subtitle{
			font-size: 1.65vh;
			margin-bottom: 0;
			color: $grey4;
		}
		.date{
			color: $blue2;
			font-size: 2.2vh;
		}
		.btn{
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
		}
		@media #{$ipadl}{
			.field{
				input,
				span{
					font-size: 1.64vh;
				}
			}
		}
	}
}