<a href="#group" class="link-group">
<svg width="56pt" height="50pt" viewBox="0 0 56 50" version="1.1" xmlns="http://www.w3.org/2000/svg">
<g id="#999999ff">
<path  opacity="1.00" d=" M 25.59 2.47 C 27.57 2.08 30.13 1.70 31.67 3.31 C 34.87 5.94 34.10 12.41 29.89 13.51 C 27.86 13.69 25.15 14.07 23.94 11.99 C 21.52 9.10 22.15 4.26 25.59 2.47 Z" />
<path  opacity="1.00" d=" M 41.65 11.63 C 46.13 9.99 50.83 15.63 48.63 19.73 C 47.76 22.42 44.93 24.18 42.12 23.46 C 37.04 21.94 36.85 13.67 41.65 11.63 Z" />
<path  opacity="1.00" d=" M 11.18 11.54 C 15.51 10.27 19.98 15.71 17.77 19.66 C 16.92 22.45 13.92 24.24 11.06 23.41 C 5.94 21.68 6.01 13.16 11.18 11.54 Z" />
<path  opacity="1.00" d=" M 21.79 16.23 C 25.96 16.75 30.19 16.76 34.36 16.20 C 36.53 19.43 36.80 23.94 40.07 26.34 C 43.30 26.96 46.54 26.19 49.64 25.32 C 51.42 29.00 53.73 32.66 53.83 36.87 C 54.08 39.78 54.03 42.70 53.83 45.61 C 49.47 48.72 43.90 47.73 38.88 47.71 C 36.78 47.88 35.11 46.59 33.43 45.55 C 33.17 42.90 32.73 40.28 32.52 37.63 C 29.50 37.68 26.49 37.67 23.47 37.65 C 23.42 40.11 23.32 42.57 23.36 45.04 C 19.46 48.80 13.81 47.72 8.89 47.76 C 6.40 47.96 4.28 46.64 2.17 45.53 C 2.07 40.79 1.42 35.70 3.67 31.33 C 4.52 29.24 5.68 27.30 6.75 25.32 C 10.10 26.18 14.33 27.71 17.39 25.46 C 19.31 22.63 20.10 19.20 21.79 16.23 Z" />
</g>
</svg>
GROUP TICKETS
</a>