<a href="#investor" class="link-investor">
<svg width="48pt" height="48pt" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg">
<g id="#999999ff">
<path  opacity="1.00" d=" M 22.94 1.00 C 23.47 1.00 24.53 1.00 25.06 1.00 C 25.06 2.82 25.06 4.63 25.06 6.45 C 33.69 7.10 40.90 14.32 41.55 22.94 C 43.37 22.94 45.18 22.94 47.00 22.94 C 47.00 23.47 47.00 24.53 47.00 25.06 C 45.18 25.06 43.37 25.06 41.55 25.06 C 40.90 33.69 33.68 40.90 25.06 41.55 C 25.06 43.37 25.06 45.18 25.06 47.00 C 24.53 47.00 23.47 47.00 22.94 47.00 C 22.94 45.18 22.94 43.37 22.94 41.55 C 14.32 40.89 7.11 33.68 6.45 25.06 C 4.63 25.06 2.82 25.06 1.00 25.06 C 1.00 24.53 1.00 23.47 1.00 22.94 C 2.82 22.94 4.63 22.94 6.45 22.94 C 7.11 14.32 14.31 7.10 22.94 6.45 C 22.94 4.63 22.94 2.82 22.94 1.00 M 8.38 22.92 C 10.20 22.92 12.02 22.93 13.84 22.94 C 14.68 18.30 18.31 14.69 22.94 13.83 C 22.93 12.01 22.92 10.20 22.92 8.38 C 15.36 9.16 9.16 15.36 8.38 22.92 M 25.08 8.38 C 25.08 10.20 25.07 12.01 25.06 13.83 C 29.70 14.69 33.31 18.30 34.16 22.94 C 35.98 22.93 37.80 22.92 39.61 22.92 C 38.84 15.36 32.63 9.16 25.08 8.38 M 15.97 22.87 C 18.29 22.91 20.62 22.93 22.95 22.96 C 22.94 20.63 22.92 18.31 22.89 15.98 C 19.48 16.94 16.96 19.49 15.97 22.87 M 25.11 15.99 C 25.07 18.31 25.06 20.63 25.05 22.95 C 27.37 22.94 29.70 22.92 32.02 22.88 C 31.05 19.49 28.52 16.94 25.11 15.99 M 8.38 25.08 C 9.16 32.63 15.37 38.84 22.92 39.61 C 22.92 37.80 22.93 35.98 22.94 34.16 C 18.30 33.31 14.68 29.70 13.84 25.06 C 12.02 25.07 10.20 25.08 8.38 25.08 M 15.98 25.12 C 16.95 28.52 19.48 31.06 22.89 32.02 C 22.92 29.69 22.94 27.37 22.95 25.05 C 20.63 25.06 18.30 25.08 15.98 25.12 M 25.05 25.05 C 25.06 27.37 25.08 29.70 25.12 32.02 C 28.52 31.05 31.05 28.52 32.02 25.12 C 29.70 25.08 27.37 25.06 25.05 25.05 M 34.16 25.06 C 33.31 29.70 29.70 33.31 25.06 34.16 C 25.07 35.98 25.07 37.80 25.08 39.61 C 32.63 38.85 38.84 32.63 39.61 25.08 C 37.80 25.08 35.98 25.07 34.16 25.06 Z" />
</g>
</svg>
INVESTORS
</a>