<a href="#single" class="link-single">
<svg width="24pt" height="39pt" viewBox="0 0 24 39" version="1.1" xmlns="http://www.w3.org/2000/svg">
<g id="#18a8e1ff">
<path opacity="1.00" d=" M 9.24 2.18 C 11.84 1.29 15.51 1.44 16.78 4.34 C 19.27 8.26 15.93 14.60 11.02 13.55 C 5.88 12.54 4.89 4.80 9.24 2.18 Z" />
<path opacity="1.00" d=" M 6.17 15.20 C 9.88 16.78 14.14 16.80 17.83 15.16 C 22.05 20.93 22.73 28.30 22.04 35.21 C 21.32 37.01 18.72 36.79 17.10 37.13 C 12.04 37.27 6.72 37.89 1.93 35.87 C 1.58 28.75 1.78 21.19 6.17 15.20 Z" />
</g>
</svg>
SINGLE ATTENDEE
</a>