<a href="#startups" class="link-startup">
<svg width="27pt" height="43pt" viewBox="0 0 27 43" version="1.1" xmlns="http://www.w3.org/2000/svg">
<g id="#999999fe">
<path  opacity="1.00" d=" M 1.17 15.73 C -0.26 8.39 6.75 1.40 14.01 1.98 C 20.92 1.99 27.19 8.79 25.82 15.75 C 24.15 21.88 19.78 26.83 17.83 32.86 C 14.96 32.96 12.09 32.96 9.21 32.88 C 7.25 26.83 2.86 21.88 1.17 15.73 M 3.45 11.34 C 2.10 15.12 4.47 18.74 6.15 21.97 C 8.01 25.08 9.36 28.48 11.47 31.43 C 10.54 26.61 8.20 22.05 8.36 17.05 C 11.58 19.05 15.42 19.06 18.64 17.04 C 18.81 22.05 16.48 26.61 15.56 31.43 C 18.32 27.12 20.59 22.48 22.90 17.92 C 25.55 13.22 22.76 7.08 18.04 4.99 C 12.55 2.18 5.09 5.36 3.45 11.34 M 10.59 20.49 C 11.53 23.77 12.46 27.06 13.51 30.31 C 14.56 27.06 15.47 23.78 16.40 20.50 C 14.47 20.59 12.53 20.60 10.59 20.49 Z" />
<path  opacity="1.00" d=" M 9.07 34.43 C 12.00 34.44 14.94 34.43 17.87 34.44 C 17.88 35.01 17.88 36.17 17.89 36.75 C 14.94 36.76 12.00 36.76 9.05 36.75 C 9.05 36.17 9.06 35.01 9.07 34.43 Z" />
<path  opacity="1.00" d=" M 8.74 37.79 C 11.89 37.73 15.04 37.73 18.18 37.79 C 17.86 43.00 9.15 42.96 8.74 37.79 Z" />
</g>
</svg>
STARTUPS
</a>