<!DOCTYPE html>
<html lang="en">
<head>
	<title>HRTECH-WORLD</title>
	<link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/app.css">
</head>
<body ng-app="home" ng-controller="homeCtrl">

<div id="menu">
	<ul class="navtop">
		<li ng-repeat="link in footer">
			<a ng-if="link.url != ''" href="{{link.url}}">{{link.label}}</a>
			<span ng-if="link.url == ''">{{link.label}}</span>
		</li>
	</ul>
</div>

<header>
	<div class="header-top">
		<a href="#" class="brand"></a>
		<a href="#" id="btn-menu" class="btn-toggle-menu"><span></span></a>
	</div>
	<div class="header-bottom">
		<nav>
			<ul>
				<li ng-repeat="nav in header" ng-include="nav.template" ng-class="(nav.active) ? 'active' : ''"></li>
			</ul>
		</nav>
	</div>
</header>

<div id="content">
	<section id="breadcrumbs" ng-include="'partials/breadcrumbs.html'"></section>
	<section id="intro" ng-include="'partials/intro.html'"></section>
	<section id="tickets" ng-include="'partials/tickets.html'"></section>
	<section id="investor" ng-include="'partials/investor.html'"></section>
</div>

<footer ng-include="'partials/footer.html'"></footer>

<script src="assets/js/vendor.js"></script>
<script src="assets/js/app.js"></script>

</body>
</html>