<div class="row">
	<div class="col-md-12">
		<ul>
			<li><a href="#">EARLY BIRD <span>SOLD OUT</span></a></li>
			<li class="active">
				<a href="#">SUMMER SAVER 
					<span class="until">
						<i class="sprite time"></i> 
						<span>UNTIL</span>
						<span class="date">AUG.31</span>
					</span>
				</a>
			</li>
			<li><a href="#">REGULAR</a></li>
			<li><a href="#">LATE</a></li>
			<li><a href="#">ONSITE REGISTRATION</a></li>
		</ul>
	</div>
</div>