<div class="row">
	<div class="col-md-12">
		<a href="#" class="brand"></a>
		
		<!-- Footer nav -->
		<ul class="navtop">
			<li ng-repeat="link in footer">
				<a ng-if="link.url != ''" href="{{link.url}}">{{link.label}}</a>
				<span ng-if="link.url == ''">{{link.label}}</span>
			</li>
		</ul>

		<!-- Footer social link -->
		<ul class="social">
			<li ng-repeat="link in social">
				<a href="{{link.url}}"><i class="fa fa-{{link.icon}}"></i></a>
			</li>
		</ul>

		<!-- Footer bottom nav -->
		<ul class="navbottom">
			<li ng-repeat="link in terms">
				<a ng-if="link.url != ''" href="{{link.url}}">{{link.label}}</a>
				<span ng-if="link.url == ''">{{link.label}}</span>
			</li>
		</ul>
	</div>
</div>