<div class="row">
	<div ng-class="(ticket.popular) ? 'col-md-3 col-sm-6 ticket popular' : 'col-md-3 col-sm-6 ticket'" class="" ng-repeat="ticket in tickets">
		<div class="wrap">
			<h2>{{ticket.popular ? 'MOST POPULAR' : ''}}</h2>
			<h3>{{ticket.label}}</h3>
			<h1>{{ticket.price}}</h1>
			<p class="subtitle" ng-if="ticket.sublabel != ''">{{ticket.sublabel}}</p>
			<p class="date" ng-if="ticket.date != ''">{{ticket.date}}</h4>
			<div class="field" ng-if="ticket.promocode">
				<input type="text" placeholder="Type it here & then pick" maxlength="12" class="form-control">
				<span><a href="#">DAY01</a>/<a href="#">DAY02</a> OR <a href="#">BOTH</a></span>
			</div>

			<ul>
				<li ng-repeat="package in ticket.packages">{{package}}</li>
			</ul>

			<a href="{{ticket.url}}" ng-class="(ticket.popular) ? 'btn btn-red' : 'btn btn-blue'">BOOK NOW</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<a href="#" class="btn btn-transparent btn-compare">COMPARE BENEFITS</a>
	</div>	
</div>