.btn{
	@include animate(.3s, opacity, ease-in-out);
	font-weight: bold;
	border-radius: 0;
	padding: 1.8vh;
    font-size: 2.3vh;
    outline: none;
    opacity: 1;

    &:hover{
    	opacity: 0.7;
    }
	&.btn-transparent{
		font-size: 1.7vh;
    	padding: 1.3vh 3.5vh;
		border: 1px solid $blue2;
		color: $blue2;
		padding: 1vh;
	}
	&.btn-blue{
		background: $blue2;
		color: $white;
	}
	&.btn-red{
		background: $red;
		color: $white;
	}
}