input{
	color: $grey4;
	border-radius: 0 !important;

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  	text-transform: capitalize;
	  	font-style: italic;
	  	color: $grey4;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		text-transform: capitalize;
		font-style: italic;
	  	color: $grey4;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		text-transform: capitalize;
		font-style: italic;
	  	color: $grey4;
	}
	&:-moz-placeholder { /* Firefox 18- */
		text-transform: capitalize;
		font-style: italic;
	  	color: $grey4;
	}
}