html, body{
    // Font kerning - please keep - important!
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
}
a{
	@include animate(.5s, color, ease-in-out);
	text-decoration: none;
	
	&:active,
	&:focus,
	&:hover{
		text-decoration: none;
	}
	&:hover{
		color: $blue2;
	}
}
ul{
	padding: 0;
}
#panel{
	
}
#content{
	padding-top: 21vh;
	max-width: 78.7vw;
	margin: 0 auto;

	@media only screen and (min-width : 1025px){
		transform: inherit !important;
	}
	@media #{$ipadl}{
		max-width: 83vw;
		padding-top: 40vw;
	}
}