
@mixin hoverFade ()
{
    transition:opacity .3s linear;
    &:hover {
        opacity: 0.6;
    }
}

@mixin animate($timing:1s, $taget:all , $effect:ease) {
    -webkit-transition: $taget $timing $effect;
    -moz-transition: $taget $timing $effect;
    -o-transition: $taget $timing $effect;
    transition: $taget $timing $effect;
}

@mixin overlay ()
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.35);
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin rotate($degree: -90deg)
{
  -webkit-transform: rotate($degree) translate3d(0, 0, 0);
    -ms-transform: rotate($degree);
    transform: rotate($degree);
}