// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$active-sep-name: 'active_sep';
$active-sep-x: 28px;
$active-sep-y: 0px;
$active-sep-offset-x: -28px;
$active-sep-offset-y: 0px;
$active-sep-width: 14px;
$active-sep-height: 26px;
$active-sep-total-width: 42px;
$active-sep-total-height: 28px;
$active-sep-image: '../img/sprite.png';
$active-sep: (28px, 0px, -28px, 0px, 14px, 26px, 42px, 28px, '../img/sprite.png', 'active_sep', );
$time-name: 'time';
$time-x: 0px;
$time-y: 0px;
$time-offset-x: 0px;
$time-offset-y: 0px;
$time-width: 28px;
$time-height: 28px;
$time-total-width: 42px;
$time-total-height: 28px;
$time-image: '../img/sprite.png';
$time: (0px, 0px, 0px, 0px, 28px, 28px, 42px, 28px, '../img/sprite.png', 'time', );
$spritesheet-width: 42px;
$spritesheet-height: 28px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($active-sep, $time, );
$spritesheet: (42px, 28px, '../img/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
