body,p{
	@extend .roboto;
	color: $grey2;
}
h1{
	@extend .roboto;
	font-size: 7vh;
    font-weight: bold;
}
h2{
	@extend .roboto;
	font-size: 2.4vh;
}
h3{
	@extend .roboto;
	font-size: 2.4vh;
    font-weight: bold;
}
h4{
	@extend .roboto;
	font-size: 1.25em;

	@media #{$ipadl}{
		font-size: 1.5em;
	}
	@media #{$mobile}{
		font-size: 0.8em;
	}
}