$white: 	#fff;
$white2: 	#f8f8f8;
$grey1:		#a6a6a6;
$grey2: 	#2c292a;
$grey3: 	#cccccc;
$grey4: 	#999999;
$black: 	#000;
$blue: 		#14a3d1;
$blue2:		#18a8e1;
$red:		#ff0033;

//Bootstrap 3 Media Queries
/* Large desktop */
$bigDesktop 	: "only screen and (max-width : 1500px)";
$wide 			: "only screen and (max-width : 1200px)";
$ipadl			: "only screen and (max-width : 1024px)";
$desktop 		: "only screen and (max-width : 992px)";
$tablet 		: "only screen and (max-width : 768px)";
$tablet-landscape 		: "only screen and (max-width : 1024px) and (max-height:768px)";
$mobile 		: "only screen and (max-width : 480px)";
$iPhone6p 	    : "only screen and (max-width : 414px)";
$iPhone6l		: "only screen and (max-width : 667px)";
$iPhone6 	    : "only screen and (max-width : 375px)";
$iPhone-retina 	: "only screen and (max-width : 320px)";